<div class="container">
    <section class="section-menu">
        <div class=" title-menu">
            <h2>Admin Main</h2>
             <hr class="featurette-divider">
        </div>
        <ul class="list-item-menu">
            <li ><a class="list-items"  href="/Services/ListSer">
                <div class="item-menu">
                        <ul class="list-item-menu2">
                            <li>
                                    <h3 class="container-item"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-section"
                                            width="50" height="50" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M20 20h.01" />
                                            <path d="M4 20h.01" />
                                            <path d="M8 20h.01" />
                                            <path d="M12 20h.01" />
                                            <path d="M16 20h.01" />
                                            <path d="M20 4h.01" />
                                            <path d="M4 4h.01" />
                                            <path d="M8 4h.01" />
                                            <path d="M12 4h.01" />
                                            <path d="M16 4l0 0" />
                                            <rect x="4" y="8" width="16" height="8" rx="1" />
                                        </svg></h3>
                            </li>
                            <li>
                                    <h3 class="container-item-title">Services</h3>
                            </li>
                        </ul>
                        
                        
                </div>
            </a>
                
            </li>
            <li ><a class="list-items " href="/Vehicules/ListVe" >
                <div class="item-menu">
                        <ul class="list-item-menu2">
                            <li>
                                    <h3 class="container-item"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car" width="50" height="50"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="7" cy="17" r="2" />
                                        <circle cx="17" cy="17" r="2" />
                                        <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                                    </svg></h3>
                            </li>
                            <li>
                                    <h3 class="container-item-title">Vehicules</h3>
                            </li>
                        </ul>
                        
                        
                </div>
            </a>
                
            </li>
            <li ><a class="list-items"  href="/PageNotAviable">
                <div class="item-menu">
                        <ul class="list-item-menu2">
                            <li>
                                    <h3 class="container-item"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="12" cy="7" r="4" />
                                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                    </svg></h3>
                            </li>
                            <li>
                                    <h3 class="container-item-title">Employers</h3>
                            </li>
                        </ul>
                        
                        
                </div>
            </a>
                
            </li>
            <li ><a class="list-items"  href="/PageNotAviable">
                <div class="item-menu">
                        <ul class="list-item-menu2">
                            <li>
                                    <h3 class="container-item"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-invoice" width="44" height="44"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                                        <line x1="9" y1="7" x2="10" y2="7" />
                                        <line x1="9" y1="13" x2="15" y2="13" />
                                        <line x1="13" y1="17" x2="15" y2="17" />
                                    </svg></h3>
                            </li>
                            <li>
                                    <h3 class="container-item-title">Invoice</h3>
                            </li>
                        </ul>
                        
                        
                </div>
            </a>
                
            </li>
            
            
        </ul>
        <hr class="featurette-divider">
    </section>
</div>